# Logs
logs
*.log
npm-debug.log*

# Build and dependencies
backend/vendor
frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
