API_BASE_URL=/purrtrade/backend/api
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_NAME=purrtrade
DB_CHARSET=utf8mb4
DB_USERNAME=root
DB_PASSWORD=

REDIS_SCHEME=tcp
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
