# Environment
.env

# Cockpit CMS
/.spaces/
/lib/**/.github/*
/lib/**/bin/*
/lib/**/doc/*
/lib/**/docs/*
/lib/**/demo/*
/lib/**/example/*
/lib/**/Examples/*
/lib/**/phpunit*
/lib/**/tests/*
/lib/**/test/*
/lib/**/vendor-bin/*
/lib/**/\.travis/*
/lib/**/\.travis.yml
/storage/*.*
/storage/*/*
/tests/*

# Composer
composer.lock
composer.phar

# npm
/node_modules
npm-debug.log

# Git
!.gitignore
!.gitkeep
!/storage/*/index.html
!/storage/*/.htaccess
