@import "tailwindcss";

@theme {
  --color-primary: var(--color-indigo-500);
  --color-secondary: var(--color-fuchsia-500);

  --color-app-background: var(--color-gray-100);
  --color-app-backdrop: --alpha(var(--color-gray-900) / 50%);
}

@layer components {
  .popup-fade {
    @apply opacity-0;
    @apply transition-discrete;
    @apply transition-[display,overlay,opacity];

    &:popover-open {
      @apply opacity-100;
    }

    @starting-style {
      &:popover-open {
        @apply opacity-0;
      }
    }
  }

  .popup-backdrop {
    &::backdrop {
      @apply bg-app-backdrop;
      @apply opacity-0;
      @apply transition-discrete;
      @apply transition-[display,overlay,opacity];
    }

    &:popover-open::backdrop {
      @apply opacity-100;
    }

    @starting-style {
      &:popover-open::backdrop {
        @apply opacity-0;
      }
    }
  }
}
