@import "tailwindcss";

@theme {
  --color-primary: var(--color-indigo-500);
  --color-secondary: var(--color-fuchsia-500);

  --color-app-background: var(--color-gray-100);
  --color-app-backdrop: --alpha(var(--color-gray-900) / 50%);
}

@layer components {
  #root,
  #portal-loader {
    @apply isolate;
  }

  .popup-fade {
    @apply opacity-0 transition-[display,overlay,opacity] transition-discrete;

    &:popover-open {
      @apply opacity-100;
    }

    @starting-style {
      &:popover-open {
        @apply opacity-0;
      }
    }
  }

  .popup-backdrop {
    &::backdrop {
      @apply bg-app-backdrop opacity-0 transition-[display,overlay,opacity] transition-discrete;
    }

    &:popover-open::backdrop {
      @apply opacity-100;
    }

    @starting-style {
      &:popover-open::backdrop {
        @apply opacity-0;
      }
    }
  }
}
